<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find jupiter)/sensors/laser.urdf.xacro" />

  <xacro:macro name="generic_laser" params="*origin">
    <xacro:laser
      update_rate="8"
      ray_count="360"
      min_angle="-3.1416"
      max_angle="3.1416"
      min_range="0.08"
      max_range="8.0"
      frame_id="laser_link"
      topic_name="scan"
    >
      <xacro:insert_block name="origin" />
    </xacro:laser>
  </xacro:macro>
</robot>