<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ldlidar">
    <link name="laser_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.030" length="0.010"/>
        </geometry>
        <material name="green">
            <color rgba="0.003 0.639 0.223 1.0"/>
        </material>
      </visual>
    </link>
    
    <joint name="laser_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="laser_link"/>
      <origin xyz="0.060 0 0.145" rpy="0 0 0"/>
    </joint>

    <gazebo reference="laser_link">
      <sensor type="ray" name="laser_head_hokuyo_sensor">
        <always_on>true</always_on>
        <update_rate>8</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>          <!-- change to true to visualise the laser rays in gazebo-->
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>-3.1416</min_angle>
              <max_angle>3.1416</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>8.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="laser_link_gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=scan</remapping>                                                                                                                           
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <alwaysOn>true</alwaysOn>
          <updateRate>8</updateRate>
          <topicName>scan</topicName>
          <frame_name>laser_link</frame_name>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>